/* BASIC STYLES HERE */
body {
  background-image: url(https://images.unsplash.com/photo-1611517976630-163467322778?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.box-size {
  width: 125dvh;
  height: 35dvh;
}